/* Universal Stylizing*/
:root {
    --primary: rgb(73,88,103);
    --primary-lighter: rgb(93, 107, 121);
    --dblue: rgb(87,115,153);
    --lblue: rgb(189,213,234);
    --gwhite: rgb(247,247,255);
    --secred: rgb(254,95,85);
}

body {
    background-color: var(--primary);
}

/* Header Styling */
header {
    background-image: url("../images/weather-background.jpg");
    background-position-y: -80px;
    height:8vh;
}

h2 {
    background-color: var(--dblue);
}

/* Current Loaction and Previous Searches Styling */
#location-container {
     background-repeat: no-repeat;
     background-position-y: center;
     background-position-x: right;
     background-size: 10%;
}

#location-container,
#prev-locations {
    background-color: var(--primary-lighter);
}

.severe-uv {
    background-color: red;
    padding: .1em .3em;
    margin-bottom: .2em;
    border-radius: 10%;
}

.moderate-uv {
    background-color: yellow;
    padding: .1em .3em;
    margin-bottom: .2em;
    border-radius: 10%;
}

.low-uv {
    background-color: green;
    padding: .1em .3em;
    margin-bottom: .2em;
    border-radius: 10%;
}

/* Previous Locations Styling */

.prev-loc {
    background-color: var(--lblue);
    color: black;
}
.prev-loc-li {
    list-style-type: none;
}

/* Daily Forecast Styling */
.card {
    background-color: var(--primary-lighter);
}